<nb-card>
    <nb-card-header> Deleted Referrals List
    </nb-card-header>
    <nb-card-body>      
  
            
      <table class="table" >
        <thead>
        <tr >
            <th scope="col">Sno</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Allied Health Name</th>
            <th scope="col">Deleted By</th>
            <th scope="col">Deleted On</th>
            <!-- <th scope="col"></th> -->
        </tr>
        </thead>
         <tbody>
            <tr class="trRow" *ngFor="let referral of deletedReferralsArray; index as i">
                <td>{{ i + 1 }}</td>
                    <td>{{ referral.PatientName }}</td>
                    <td>{{ referral.AlliedHealthName }}</td>
                    <td>{{ referral.ReferralDeletedBy }}</td>
                    <td>{{ referral.RefferalDeletedOn }}</td>  
                    <!-- <td><button (click)="viewReferral(referral)" class="btn btn-primary btn-sm">View</button></td> -->
            </tr>
  </tbody>  
  
  </table>
    </nb-card-body>
  </nb-card>