
table {
    width: 100%;
    margin: 20px auto;
    table-layout: auto;
    display: table!important;
  }
  
  .fixed {
    table-layout: fixed;
  }
  
  table,
  td,
  th {
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border: solid 1px;
    text-align: center;
    display: table-cell!important;
  }

  button[nbButton] {
    margin-right: 0.5rem;
  }
  
  /** not needed if using media queries from below. Only for demo **/
  .table.narrow .td {
    display: block;
  }
  
  /*****
  
  @media (max-width: 500px) {
     .table .td {
        display: block;
     }
  }
  
  ******/
