<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-8">
        <span *ngIf="!editMode">Add New</span>
        <span *ngIf="editMode">Edit</span>
      </div>
      <div class="label col-4 text-right" style="cursor: pointer">
        <i class="ion-ios-arrow-back back" (click)="goBack()"> Back</i>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="medium">
    <form class="form-horizontal" [formGroup]="editMode==false?locationForm:locationEditForm" autocomplete="off" (ngSubmit)="onSubmit()">
     <div class="row"> 
      <div class="offset-md-8 col-md-4" style="text-align: right;">
        <button nbButton status="primary" [disabled]="editMode==false?locationForm.invalid:locationEditForm.invalid">
          <span *ngIf="!editMode">Save</span>
          <span *ngIf="editMode">Update</span>
        </button>
        <button nbButton (click)="cancel()" status="danger">Cancel</button>
      </div>
     </div>
     <br/>
      <div class="row"> 
        <div class="form-group col-md-4">
            <label for="locname" class="label">Location Name</label>
            <input nbInput fullWidth type="text" [required]="true" class="form-control"
              id="locname" placeholder="Location Name" name="locname" maxlength="60" 
              formControlName="locname"/>
              <small class="text-danger" *ngIf="f.locname.hasError('required') && f.locname.touched">Please enter Location Name.</small>
        </div>
        <div class="form-group col-md-4">
            <label for="locidentifier" class="label">Identifier</label>
            <input nbInput fullWidth type="text" [required]="true" class="form-control" name="locidentifier" maxlength="160" 
              id="locidentifier" placeholder="Identifier"  formControlName="locidentifier"/>
              <small class="text-danger" *ngIf="f.locidentifier.hasError('required') && f.locidentifier.touched">Please enter identifier.</small>
        </div>
        <div class="form-group col-md-4">
          <label for="locphone" class="label">phone</label>
          <input nbInput fullWidth type="text" [required]="true" class="form-control"
            id="locphone" placeholder="phone" name="locphone" maxlength="11" minlength="10"
            formControlName="locphone" NumbersOnly="true">
          <small class="text-danger" *ngIf="f.locphone.hasError('required') && f.locphone.touched">Please enter phone number.</small>
          <small class="text-danger" *ngIf="f.locphone.hasError('minlength')">Please enter minimum 10 digit phone number.</small>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col-md-4">
          <label for="locemail" class="label">Email</label>
          <input nbInput fullWidth type="email" class="form-control" id="locemail" placeholder="Email" [required]="true" maxlength="60"
            formControlName="locemail" pattern=".+@.+\..+" />
            <small class="text-danger" *ngIf="f.locemail.hasError('required') && f.locemail.touched">Please enter email id.</small>
          <small class="text-danger" *ngIf="f.locemail.invalid && f.locemail.errors?.pattern">
            Email should be the real one!
          </small>
        </div>
        <div class="form-group col-md-4">
          <label for="locaddress" class="label">Address</label>
          <textarea nbInput fullWidth class="form-control" id="locaddress" [required]="true" maxlength="200"  name="locaddress" 
          placeholder="Address" cols="45" rows="3" formControlName="locaddress"></textarea>
          <small class="text-danger" *ngIf="f.locaddress.hasError('required') && f.locaddress.touched">Please enter address.</small>
        </div>
        <div class="form-group col-md-4">
          <label for="locsuburb" class="label">Suburb</label>
          <input nbInput fullWidth type="text" [required]="true" class="form-control"
            id="locsuburb" placeholder="locsuburb" name="locSuburb" maxlength="60" 
            formControlName="locsuburb"/>
            <small class="text-danger" *ngIf="f.locsuburb.hasError('required') && f.locsuburb.touched">Please enter suburb.</small>
        </div>
      </div>
    
      <div class="row">
        <div class="form-group col-md-4">
          <label for="locpostcode" class="label">Postcode</label>
          <input nbInput fullWidth type="text" [required]="true" class="form-control"
            id="locpostcode" placeholder="Postcode" name="locpostcode" maxlength="5" minlength="4"
            formControlName="locpostcode" NumbersOnly="true"/>
            <small class="text-danger" *ngIf="f.locpostcode.hasError('required') && f.locpostcode.touched">Please enter postcode.</small>
            <small class="text-danger" *ngIf="f.locpostcode.hasError('maxlength') && f.locpostcode.minlength">Please enter valid phone number.</small>
        </div>
        <div class="form-group col-md-4">
          <!-- <label for="locstate" class="label">State</label>
          <input nbInput fullWidth type="select" [required]="true" class="form-control"
          id="locstate" placeholder="State" name="locstate" maxlength="60" 
          formControlName="locstate" /> --> 
            <label for="locstate" class="label">State</label>
            <ng-select [clearable]="false" formControlName="locstate" appendTo="body" 
                placeholder="Choose state" 
                [items]="states" bindLabel="stateName" bindValue="stateName">
            </ng-select>
          <!-- <nb-select placeholder="Choose State" fullWidth  formControlName="locstate">
              <nb-option *ngFor="let data of states" value={{data.id}}>{{data.name}}</nb-option>
          </nb-select> -->
          <small class="text-danger" *ngIf="f.locstate.hasError('required') && f.locstate.touched">Please enter state.</small>
        </div>
        <div class="form-group col-md-4">
          <label for="loctimezone" class="label">Time Zone</label>
          <ng-select [clearable]="false" formControlName="loctimezone" appendTo="body" 
              placeholder="Choose timezone" 
              [items]="timeZones" bindLabel="name" bindValue="offset">
          </ng-select>
          <!-- <nb-select placeholder="Choose timezone"  fullWidth  formControlName="loctimezone">
              <nb-option *ngFor="let data of timeZones" value={{data.id}}>{{data.name}}</nb-option>
          </nb-select> -->
          <small class="text-danger" *ngIf="f.loctimezone.hasError('required') && f.loctimezone.touched">Please enter timezone.</small>
        </div> 
      </div> 
      <br>

      <!--Contact details comes here-->
      <div *ngIf = "!editMode">
        <div style="margin-bottom: 15px;">Contact Person Details</div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="contitle" class="label">Title</label>
            <input nbInput fullWidth type="text" [required]="true" class="form-control"
              id="title" placeholder="Contact Title" name="ContactTitle" maxlength="160" 
              formControlName="contitle" pattern="^[a-zA-Z \-\']+"/>
              <small class="text-danger" *ngIf="f.contitle.hasError('required') && f.contitle.touched">Please enter Title.</small>
              <small class="text-danger" *ngIf="f.contitle.hasError('pattern')">Please enter characters only.</small>
          </div>
  
          <div class="form-group col-md-4">
            <label for="conname" class="label">Name</label>
            <input nbInput fullWidth type="text" [required]="true" class="form-control"
              id="conname" placeholder="Contact Name" name="conname" maxlength="160" 
              formControlName="conname"/>
            <small class="text-danger" *ngIf="f.conname.hasError('required') && f.conname.touched">Please enter  Contact Name.</small>
          </div>
  
          <div class="form-group col-md-4">
            <label for="conphone" class="label">Phone jwj</label>
            <input nbInput fullWidth type="number" [required]="true" class="form-control"
              id="conphone" placeholder="Contact phone" name="conphone" minlength="10" maxlength="12" 
              formControlName="conphone"/>
            <small class="text-danger" *ngIf="f.conphone.hasError('required') && f.conphone.touched">Please enter phone name.</small>
          <small class="text-danger" *ngIf="f.conphone.hasError('minlength')">Please enter minimum 10 digit phone number.</small>

          </div>
        </div>
        
        <div class="row">
          <div class="form-group col-md-4">
            <label for="conemail" class="label">Contact Email</label>
            <input nbInput fullWidth type="email" class="form-control" id="conemail" placeholder="Contact Email" [required]="true" maxlength="60"
              formControlName="conemail" pattern=".+@.+\..+" />
            <small class="text-danger" *ngIf="f.conemail.hasError('required') && f.conemail.touched">Please enter email
              id.</small>
            <small class="text-danger" *ngIf="f.conemail.invalid && f.conemail.errors?.pattern">
              Email should be the real one!
            </small>
          </div>
  
          <div class="form-group col-md-4">
            <label for="condesignationid" class="label">Designation</label>
            <input nbInput fullWidth type="text" [required]="true" class="form-control"
              id="condesignationid" placeholder="Designation" name="condesignationid" maxlength="60" 
              formControlName="condesignationid"/>
            <small class="text-danger" *ngIf="f.condesignationid.hasError('required') && f.condesignationid.touched">Please enter designation.</small>
          </div>
        </div>
      </div>
     
     </form>
  </nb-card-body>
</nb-card>