  .login-box {
    text-align: center;
  }

  .nb-alert {
  text-align: center;
  }

  .line-text {
    text-align: left
  }

  .clean-login {
    display: block;
    text-align: center;
    width: 100px;
    padding: 4px;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    color:  rgb(218, 216, 216);
  }

  .customer-logo {
    border-radius: 50%;
    border: 1px solid #ccc;
    height: 130px;
    // margin-top: -30px;
    // margin-bottom: 20px;
  }