<nb-auth-block>
  <div class="col-md-10">
    <div class="login-box">
      <!-- <img src="{{logoUrl}}" class="customer-logo " /> -->
      <h2 class="title">Sign In</h2>
    </div>

    <form (ngSubmit)="login()" #form="ngForm" autocomplete="off" novalidate>
        <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
          <p class="alert-title"><span class="fa fa-frown-o"></span><b>Sorry!</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
          </ul>
        </nb-alert>

        <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
          <p class="alert-title"><span class="fa fa-smile-o"></span><b>Hooray!</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
          </ul>
        </nb-alert>

        <div class="form-control-group">
          <label class="sr-only label" for="input-email"> Organisation:</label>
          <input nbInput fullWidth [(ngModel)]="user.domain" #domain="ngModel" name="domain" id="input-domain"
            placeholder="Orginisation" autofocus
            [status]="domain.dirty ? (domain.invalid  ? 'danger' : 'success') : ''" [required]="true"
            [attr.aria-invalid]="domain.invalid && domain.touched ? true : null">
          <ng-container *ngIf="domain.invalid && domain.touched">
            <p class="caption status-danger" *ngIf="domain.errors?.required">
              Organisation name is required!
            </p>
          </ng-container>

        </div>

        <div class="form-control-group">
          <label class="sr-only label" for="input-email">Email address:</label>
          <input nbInput fullWidth [(ngModel)]="user.email" #email="ngModel" name="email" id="input-email"
            pattern=".+@.+\..+" placeholder="Email address" autofocus
            [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''" [required]="true"
            [attr.aria-invalid]="email.invalid && email.touched ? true : null">
          <ng-container *ngIf="email.invalid && email.touched">
            <p class="caption status-danger" *ngIf="email.errors?.required">
              Email is required!
            </p>
            <p class="caption status-danger" *ngIf="email.errors?.pattern">
              Email should be the real one!
            </p>
          </ng-container>

        </div>

        <div class="form-control-group">
          <label class="label sr-only" for="input-password">Password:</label>
          <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
            id="input-password" placeholder="Password"
            [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''" [required]="true"
            [attr.aria-invalid]="password.invalid && password.touched ? true : null">
          <ng-container *ngIf="password.invalid && password.touched ">
            <small class="text-danger" *ngIf="password.errors?.required">
              Password is required!
            </small>
          </ng-container>
          <a class="forgot-password" routerLink="../request-password">Forgot Password?</a>
        </div>

        <button nbButton fullWidth status="primary" [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
          Log In
        </button>
        <!-- <div class="form-group">
          <a class="clean-login" (click)="cleanLogin()">Clean Login</a>
        </div> -->
      </form>
  </div>
</nb-auth-block>