<nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-8">
          <span>Edit Organisation</span>
        </div>
        <div class="label col-4 text-right" style="cursor: pointer">
          <i class="ion-ios-arrow-back back" (click)="goBack()"> Back</i>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="medium">
      <form class="form-horizontal" [formGroup]="editOrganizationForm" autocomplete="off" (ngSubmit)="onSubmit()">
       <div class="row"> 
        <div class="offset-md-8 col-md-4" style="text-align: right;">
          <button nbButton status="primary" [disabled]="editOrganizationForm.invalid">
            <span>Update</span>
          </button>
          <button type="button" nbButton (click)="cancel()" status="danger">Cancel</button>
        </div>
       </div>
       <br/>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="organisation_name" class="label">Organisation Name:</label>
            <input nbInput fullWidth type="text" [required]="true" class="form-control"
              id="organisation_name" placeholder="Organization Name" name="organisation_name" maxlength="160" 
              formControlName="organisation_name"/>
              <small class="text-danger" *ngIf="f.organisation_name.hasError('required') && f.organisation_name.touched">Please enter organisation name.</small>
          </div>
          <div class="form-group col-md-4">
            <label for="trading_name" class="label">Trading Name</label>
            <input nbInput fullWidth type="text" [required]="true" class="form-control"
              id="trading_name" placeholder="Trading Name" name="trading_name" maxlength="60" 
              formControlName="trading_name"/>
              <small class="text-danger" *ngIf="f.trading_name.hasError('required') && f.trading_name.touched">Please enter trading name.</small>
          </div>
          <div class="form-group col-md-4">
            <label for="abn" class="label">ABN</label>
            <input nbInput fullWidth type="text" [required]="true" class="form-control"
              id="abn" placeholder="abn" name="abn" maxlength="60" 
              formControlName="abn"/>
              <small class="text-danger" *ngIf="f.abn.hasError('required') && f.abn.touched">Please enter abn.</small>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label for="email" class="label">Email</label>
            <input nbInput fullWidth type="email" class="form-control" id="email" placeholder="OrganizationEmail" [required]="true" maxlength="60"
              formControlName="email" pattern=".+@.+\..+" />
            <small class="text-danger" *ngIf="f.email.hasError('required') && f.email.touched">Please enter email
              id.</small>
            <small class="text-danger" *ngIf="f.email.invalid && f.email.errors?.pattern">
              Email should be the real one!
            </small>
          </div>
          <div class="form-group col-md-4">
            <label for="phone" class="label">Organisation Contact Number</label>
            <input nbInput fullWidth type="text" [required]="true" class="form-control" id="phone" maxlength="11" minlength="10"
             placeholder="Organization Contact" name="phone"  formControlName="phone"/>
              <small class="text-danger" *ngIf="f.phone.hasError('required') && f.phone.touched">Please enter Contact Number .</small>
              <small class="text-danger" *ngIf="f.phone.hasError('minlength')">Please enter minimum 10 digit Contact Number .</small>
              
          </div>
          <!-- <div class="form-group col-md-4">
            <label for="organisation_type_id" class="label">Organization type</label>
            <ng-select [clearable]="false" formControlName="organisation_type_id" appendTo="body"
            placeholder="Choose Organization type" [items]="orgTypes" bindLabel="name" bindValue="id">
           </ng-select>
            <small class="text-danger" *ngIf="f.organisation_type_id.hasError('required') && f.organisation_type_id.touched">Please enter Organization Type.</small>
          </div> -->
        </div>
       </form>
    </nb-card-body>
  </nb-card>